<html>
  <head> 
    <title>Super Simple Chat with Sinatra</title> 
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="/estilo.css" /> 
    <link rel="stylesheet" type="text/css" href="/bootstrap.css" />
  </head> 
  <body>
    <div class="navbar-inner" >
      <span class="label label-info">Práctica 7 - Sistemas y Tecnologías Web</span>
      <span class="label label-important">Autor: Pedro Julián Bilbao Barrera</span>
    </div>
    <%= yield %>
  </body>
</html>