<div class="page-header">
   <h1>Let's play <small>Rock, paper & scissors</small></h1>
   <p>Choose one of the following: </p>
</div>
<div class="span6 offset3 well">
<form class="form-inline" method="POST">
      <div class="control-group">
         <label class="control-label" for="rock">Rock</label>
         <div class="controls">
            <input type="radio" id="rock" name="player_move" value="rock"/>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="paper">Paper</label>
         <div class="controls">
            <input type="radio" id="paper" name="player_move" value="paper"/>
         </div>
      </div>
      <div class="control-group">
         <label class="control-label" for="scissors">Scissors</label>
         <div class="controls">
            <input type="radio" id="scissors" name="player_move" value="scissors"/>
         </div>
      </div>
      <input class="btn btn-primary pull-right" type="submit" name="play" value="Play"/>
</form>
</div>
