<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/foundation.min.css" />
		<script src="/foundation.min.js" type="text/javascript"></script>
		<script src="/jquery.foundation.forms.js" type="text/javascript"></script>

	</head>
	<body class="row">
		<div class="eight columns centered">
			<%=yield%>
		</div>
	</body>
</html>
