<div class='row-fluid'>
  <div class='span8 offset2'>
	<form class="form-inline" action='/'>
	  <fieldset>
	    <legend><b>Login</b></legend>
	    <label for='user'>User Name:</label>
	    <input type='input-small' name='user' value='' required pattern="[A-Za-z_0-9]{1,20}" autofocus />
	    <input type='submit' value="GO!" class="btn btn-primary"/>
	  </fieldset>
	</form>
  </div>
</div>