%html
  %head
    %title Rock, paper, scissors>
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
  %body
    #header
      %h1 Rock-Paper-Scissors
    = yield
    %br
    %h2 Jugador: #{session[:you]}
    %h2 Computer: #{session[:computer]}
