<form action='/' style="margin-top: 33px;">
  <label for='user'>Nickname:</label>
  <input type="text" placeholder="nick..." name="user" value="" required autofocus>
  <input type='submit' value="Chat!" />
</form>