%html
	%head
		%link(rel="stylesheet" type="text/css" href="/foundation.min.css")
		%script{:type => "text/javascript", :src =>"/foundation.min.js"}
		%script{:type => "text/javascript", :src =>"/jquery.foundation.forms.js"}
	%body.row
		%div.eight.columns.centered
			=yield
