<div class="snippet">
  <form action="/" method="POST">
	<select name="opc" id="opc">
		<option value="ruby">Ruby</option>
		<option value="xml">Xml</option>
		<option value="yaml">Yaml</option>
	</select>  
	<textarea name="body" id="areaTexto" rows="20"></textarea>
    	<br/><input type="submit" id="submit" value="Save"/>
  </form>
</div>
