<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= @title || 'Toopaste!' %></title>
  <link rel="stylesheet" type="text/css" href="/ruby.css" />
  <link rel="stylesheet" type="text/css" href="/xml.css" />
  <link rel="stylesheet" type="text/css" href="/yaml.css" />
  <link rel="stylesheet" type="text/css" href="/bootstrap.css" />
</head>
<body>
  <div class="navbar-inner" >
    <span class="label label-info">Práctica 3 - Sistemas y Tecnologías Web</span>
    <span class="label label-important">Autor: Pedro Julián Bilbao Barrera</span>
  </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>