
<div class="snippet">
  <form action="/" method="POST">
    <select class="btn btn-primary dropdown-toggle" data-toggle="dropdown" name="Lenguaje" > 
      <option value="ruby">Ruby</option> 
      <option value="xml">Xml </option>
      <option value="yaml">Yaml </option>
    </select>
    <textarea class="thumbnail" name="body" id="body" rows="20"></textarea>
    <br/><input class="btn btn-primary btn-large" type="submit" value="Save"/>
  </form>
</div>