<div class="snippet">
  <form action="/" method="POST">
    <textarea name="body" id="body" rows="20"></textarea>
    </br>
    <select name="language">
      <option value="ruby">Ruby</option>
      <option value="xml">XML</option>
      <option value="yaml">YAML</option>
    </select>
    </br>
    <input type="submit" value="Done"/>
  </form>
</div>
