<div class="snippet">
  <form action="/" method="POST">
  	<div class="language-input">
	  	<label for="language">Select language</label>
	  	<select name="language" id="language">
	  		<option value="ruby">Ruby</option>
	  		<option value="yaml">YAML</option>
	  		<option value="xml">XML</option>
	  	</select>
  	</div>
  	<div class="code-input">
		<label for="body">Enter your code</label>
		<textarea name="body" id="body" rows="20"></textarea>
	</div>
	<input type="submit" class="btn btn-primary" value="Save"/>
  </form>
</div>