<h1>Please log in</h1>
<form class="custom" action='/'>
  <label for='user'>User Name:</label>
  <input name='user' value='' />
  <input type='submit' value="GO IN THE CHAT!" />
</form>
<script>$(document).foundationCustomForms();</script>
