<<<<<<< HEAD
- if @short_url.present? && !@short_url.valid?
  %p Invalid URL: #{@short_url.url}
=======
- if @short_url.present? && !@short_url.valid?
  %p Invalid URL: #{@short_url.url}
>>>>>>> ee1ade3789529e0f3f67a4582857a561826ed79e
